.movieDetails {
  height: 87vh;
  overflow-y: scroll;
  padding: 2% 5% 2% 5%; }
  .movieDetails .edit {
    color: lightseagreen; }
  .movieDetails .delete {
    color: orangered; }
  .movieDetails .movieContainer {
    display: flex;
    flex-direction: row;
    margin-top: 15px; }
    .movieDetails .movieContainer .movieData {
      text-align: left;
      padding-left: 15px; }
