.movieDetails {
  height: 87vh;
  overflow-y: scroll;
  padding: 2% 5% 2% 5%;
  .edit{
    color: lightseagreen;
  }
  .delete{
    color: orangered;
  }
  .movieContainer{
    display:flex;
    flex-direction:row;
    margin-top: 15px;
    .movieData{
      text-align: left;
      padding-left: 15px;
    }
  }
}

