.moviesContainer {
  padding: 2% 5% 2% 5%; }
  .moviesContainer .new {
    color: yellowgreen; }
  .moviesContainer .list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    overflow-y: auto;
    height: 70vh; }
    .moviesContainer .list .movieItem {
      flex: 1;
      cursor: pointer;
      text-decoration: none;
      color: #2f2f2f; }
