.formModal {
  width: 60vw; }

textarea {
  resize: none !important; }

.posterImagePreview {
  flex: 1;
  background: url("https://critics.io/img/movies/poster-placeholder.png");
  background-size: cover;
  height: 250px;
  width: 150px; }
